slnBINET/BINET.Test/Service References/PrestamoWS/PrestamosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BINET.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BINET.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Prestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Cuentadestino" nillable="true" type="tns:Cuenta" />
      <xs:element minOccurs="0" name="Cuentaorigen" nillable="true" type="tns:Cuenta" />
      <xs:element minOccurs="0" name="Cuotas" type="xs:int" />
      <xs:element minOccurs="0" name="Fechor" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Moneda" nillable="true" type="tns:Moneda" />
      <xs:element minOccurs="0" name="Monto" type="xs:double" />
      <xs:element minOccurs="0" name="Montoc" type="xs:double" />
      <xs:element minOccurs="0" name="Tarjeta" nillable="true" type="tns:Tarjeta" />
      <xs:element minOccurs="0" name="Tcea" type="xs:double" />
      <xs:element minOccurs="0" name="Tea" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prestamo" nillable="true" type="tns:Prestamo" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeMat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApePat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCli" type="xs:int" />
      <xs:element minOccurs="0" name="MailCli01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomCli01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumIde" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelCli01" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Cuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Disponible" type="xs:double" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Moneda" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuenta" nillable="true" type="tns:Cuenta" />
  <xs:complexType name="Moneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Moneda" nillable="true" type="tns:Moneda" />
  <xs:complexType name="Tarjeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Cuenta" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tarjeta" nillable="true" type="tns:Tarjeta" />
  <xs:complexType name="ArrayOfPrestamo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prestamo" nillable="true" type="tns:Prestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrestamo" nillable="true" type="tns:ArrayOfPrestamo" />
  <xs:complexType name="ArrayOfCronogramas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cronogramas" nillable="true" type="tns:Cronogramas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCronogramas" nillable="true" type="tns:ArrayOfCronogramas" />
  <xs:complexType name="Cronogramas">
    <xs:sequence>
      <xs:element minOccurs="0" name="FecDesem" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MontoPrest" type="xs:double" />
      <xs:element minOccurs="0" name="NroCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="NroCuotas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cronogramas" nillable="true" type="tns:Cronogramas" />
</xs:schema>