slnBINET/BINET.Test/Service References/PrestamoWS/PrestamosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17982/PrestamosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BINET.Entities" />
  <xs:element name="CrearPrestamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tarjeta" type="xs:int" />
        <xs:element minOccurs="0" name="cuentaorigen" type="xs:int" />
        <xs:element minOccurs="0" name="moneda" type="xs:int" />
        <xs:element minOccurs="0" name="monto" type="xs:double" />
        <xs:element minOccurs="0" name="cuotas" type="xs:int" />
        <xs:element minOccurs="0" name="tea" type="xs:double" />
        <xs:element minOccurs="0" name="tcea" type="xs:double" />
        <xs:element minOccurs="0" name="montoc" type="xs:double" />
        <xs:element minOccurs="0" name="fechor" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cliente" type="xs:int" />
        <xs:element minOccurs="0" name="cuentadestino" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPrestamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BINET.Entities" minOccurs="0" name="CrearPrestamoResult" nillable="true" type="q1:Prestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPrestamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPrestamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BINET.Entities" minOccurs="0" name="ObtenerPrestamoResult" nillable="true" type="q2:Prestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPrestamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="tarjeta" type="xs:int" />
        <xs:element minOccurs="0" name="cuentaorigen" type="xs:int" />
        <xs:element minOccurs="0" name="moneda" type="xs:int" />
        <xs:element minOccurs="0" name="monto" type="xs:double" />
        <xs:element minOccurs="0" name="cuotas" type="xs:int" />
        <xs:element minOccurs="0" name="tea" type="xs:double" />
        <xs:element minOccurs="0" name="tcea" type="xs:double" />
        <xs:element minOccurs="0" name="montoc" type="xs:double" />
        <xs:element minOccurs="0" name="fechor" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cliente" type="xs:int" />
        <xs:element minOccurs="0" name="cuentadestino" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPrestamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BINET.Entities" minOccurs="0" name="ModificarPrestamoResult" nillable="true" type="q3:Prestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPrestamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPrestamoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPrestamos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPrestamosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BINET.Entities" minOccurs="0" name="ListarPrestamosResult" nillable="true" type="q4:ArrayOfPrestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BINET.Entities" minOccurs="0" name="ListarHistorialResult" nillable="true" type="q5:ArrayOfPrestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulta_cronogrma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulta_cronogrmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BINET.Entities" minOccurs="0" name="Consulta_cronogrmaResult" nillable="true" type="q6:ArrayOfCronogramas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>