slnBINET/BINET.Test/Service References/MensajesWS/Prestamos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Prestamos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17982/Prestamos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17982/Prestamos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17982/Prestamos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BINET.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrestamos_CrearPrestamo_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearPrestamo" />
  </wsdl:message>
  <wsdl:message name="IPrestamos_CrearPrestamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestamos_ObtenerPrestamo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPrestamo" />
  </wsdl:message>
  <wsdl:message name="IPrestamos_ObtenerPrestamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestamos_ModificarPrestamo_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPrestamo" />
  </wsdl:message>
  <wsdl:message name="IPrestamos_ModificarPrestamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestamos_EliminarPrestamo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPrestamo" />
  </wsdl:message>
  <wsdl:message name="IPrestamos_EliminarPrestamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestamos_ListarPrestamos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPrestamos" />
  </wsdl:message>
  <wsdl:message name="IPrestamos_ListarPrestamos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPrestamosResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrestamos">
    <wsdl:operation name="CrearPrestamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamos/CrearPrestamo" message="tns:IPrestamos_CrearPrestamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamos/CrearPrestamoResponse" message="tns:IPrestamos_CrearPrestamo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrestamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamos/ObtenerPrestamo" message="tns:IPrestamos_ObtenerPrestamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamos/ObtenerPrestamoResponse" message="tns:IPrestamos_ObtenerPrestamo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPrestamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamos/ModificarPrestamo" message="tns:IPrestamos_ModificarPrestamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamos/ModificarPrestamoResponse" message="tns:IPrestamos_ModificarPrestamo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPrestamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamos/EliminarPrestamo" message="tns:IPrestamos_EliminarPrestamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamos/EliminarPrestamoResponse" message="tns:IPrestamos_EliminarPrestamo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPrestamos">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamos/ListarPrestamos" message="tns:IPrestamos_ListarPrestamos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamos/ListarPrestamosResponse" message="tns:IPrestamos_ListarPrestamos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrestamos" type="tns:IPrestamos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearPrestamo">
      <soap:operation soapAction="http://tempuri.org/IPrestamos/CrearPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrestamo">
      <soap:operation soapAction="http://tempuri.org/IPrestamos/ObtenerPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPrestamo">
      <soap:operation soapAction="http://tempuri.org/IPrestamos/ModificarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPrestamo">
      <soap:operation soapAction="http://tempuri.org/IPrestamos/EliminarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPrestamos">
      <soap:operation soapAction="http://tempuri.org/IPrestamos/ListarPrestamos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Prestamos">
    <wsdl:port name="BasicHttpBinding_IPrestamos" binding="tns:BasicHttpBinding_IPrestamos">
      <soap:address location="http://localhost:17982/Prestamos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>