slnBINET/BINET.Test/Service References/CronogramaWS/CronogramasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17982/CronogramasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BINET.Entities" />
  <xs:element name="ConsultarCronograma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prestamo" type="xs:int" />
        <xs:element minOccurs="0" name="cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCronogramaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BINET.Entities" minOccurs="0" name="ConsultarCronogramaResult" nillable="true" type="q1:ArrayOfCronogramas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCronograma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prestamo" type="xs:int" />
        <xs:element minOccurs="0" name="cliente" type="xs:int" />
        <xs:element minOccurs="0" name="cuotas" type="xs:int" />
        <xs:element minOccurs="0" name="fechaini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="monto" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCronogramaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BINET.Entities" minOccurs="0" name="RegistrarCronogramaResult" nillable="true" type="q2:ArrayOfCronogramas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SincronizarCronograma">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SincronizarCronogramaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BINET.Entities" minOccurs="0" name="SincronizarCronogramaResult" nillable="true" type="q3:ArrayOfPrestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>