slnBINET/BINET.Web.UI.WF/Service References/CampanaWS/CampanasService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17982/CampanasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BINET.Entities" />
  <xs:element name="ConsultarCampana">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCampanaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BINET.Entities" minOccurs="0" name="ConsultarCampanaResult" nillable="true" type="q1:Campana" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>