slnBINET/BINET.Web.UI.WF/Service References/CampanaWS/CampanasService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BINET.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BINET.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Campana">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="xs:int" />
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="cuenta" type="xs:decimal" />
      <xs:element minOccurs="0" name="cuotas1" type="xs:int" />
      <xs:element minOccurs="0" name="cuotas2" type="xs:int" />
      <xs:element minOccurs="0" name="cuotas3" type="xs:int" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moneda" type="xs:int" />
      <xs:element minOccurs="0" name="monedades" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="montoc1" type="xs:decimal" />
      <xs:element minOccurs="0" name="montoc2" type="xs:decimal" />
      <xs:element minOccurs="0" name="montoc3" type="xs:decimal" />
      <xs:element minOccurs="0" name="montotot1" type="xs:decimal" />
      <xs:element minOccurs="0" name="montotot2" type="xs:decimal" />
      <xs:element minOccurs="0" name="montotot3" type="xs:decimal" />
      <xs:element minOccurs="0" name="tarjeta" type="xs:decimal" />
      <xs:element minOccurs="0" name="tcea" type="xs:decimal" />
      <xs:element minOccurs="0" name="tea" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Campana" nillable="true" type="tns:Campana" />
</xs:schema>