slnBINET/BINET.Web.UI.WF/Service References/PrestamoWS/PrestamosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrestamosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17982/PrestamosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17982/PrestamosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BINET.Entities" />
      <xsd:import schemaLocation="http://localhost:17982/PrestamosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrestamosService_CrearPrestamo_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearPrestamo" />
  </wsdl:message>
  <wsdl:message name="IPrestamosService_CrearPrestamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestamosService_CrearPrestamo_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/BINET.Entities" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IPrestamosService_ObtenerPrestamo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPrestamo" />
  </wsdl:message>
  <wsdl:message name="IPrestamosService_ObtenerPrestamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestamosService_ModificarPrestamo_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPrestamo" />
  </wsdl:message>
  <wsdl:message name="IPrestamosService_ModificarPrestamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestamosService_EliminarPrestamo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPrestamo" />
  </wsdl:message>
  <wsdl:message name="IPrestamosService_EliminarPrestamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestamosService_ListarPrestamos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPrestamos" />
  </wsdl:message>
  <wsdl:message name="IPrestamosService_ListarPrestamos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPrestamosResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestamosService_ListarHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarHistorial" />
  </wsdl:message>
  <wsdl:message name="IPrestamosService_ListarHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarHistorialResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrestamosService">
    <wsdl:operation name="CrearPrestamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamosService/CrearPrestamo" message="tns:IPrestamosService_CrearPrestamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamosService/CrearPrestamoResponse" message="tns:IPrestamosService_CrearPrestamo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPrestamosService/CrearPrestamoServiceExceptionFault" name="ServiceExceptionFault" message="tns:IPrestamosService_CrearPrestamo_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrestamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamosService/ObtenerPrestamo" message="tns:IPrestamosService_ObtenerPrestamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamosService/ObtenerPrestamoResponse" message="tns:IPrestamosService_ObtenerPrestamo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPrestamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamosService/ModificarPrestamo" message="tns:IPrestamosService_ModificarPrestamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamosService/ModificarPrestamoResponse" message="tns:IPrestamosService_ModificarPrestamo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPrestamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamosService/EliminarPrestamo" message="tns:IPrestamosService_EliminarPrestamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamosService/EliminarPrestamoResponse" message="tns:IPrestamosService_EliminarPrestamo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPrestamos">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamosService/ListarPrestamos" message="tns:IPrestamosService_ListarPrestamos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamosService/ListarPrestamosResponse" message="tns:IPrestamosService_ListarPrestamos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestamosService/ListarHistorial" message="tns:IPrestamosService_ListarHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestamosService/ListarHistorialResponse" message="tns:IPrestamosService_ListarHistorial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrestamosService" type="tns:IPrestamosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearPrestamo">
      <soap:operation soapAction="http://tempuri.org/IPrestamosService/CrearPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrestamo">
      <soap:operation soapAction="http://tempuri.org/IPrestamosService/ObtenerPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPrestamo">
      <soap:operation soapAction="http://tempuri.org/IPrestamosService/ModificarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPrestamo">
      <soap:operation soapAction="http://tempuri.org/IPrestamosService/EliminarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPrestamos">
      <soap:operation soapAction="http://tempuri.org/IPrestamosService/ListarPrestamos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHistorial">
      <soap:operation soapAction="http://tempuri.org/IPrestamosService/ListarHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrestamosService">
    <wsdl:port name="BasicHttpBinding_IPrestamosService" binding="tns:BasicHttpBinding_IPrestamosService">
      <soap:address location="http://localhost:17982/PrestamosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>