slnBINET/BINET.Web.UI.WF/Service References/CronogramaWS/CronogramasService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BINET.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BINET.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCronogramas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cronogramas" nillable="true" type="tns:Cronogramas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCronogramas" nillable="true" type="tns:ArrayOfCronogramas" />
  <xs:complexType name="Cronogramas">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="xs:int" />
      <xs:element minOccurs="0" name="cuota" type="xs:int" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="prestamo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cronogramas" nillable="true" type="tns:Cronogramas" />
</xs:schema>